### 데이터 분석을 위한 파이썬 기초1

#### 출력

In [3]:
# 숫자
print(45)

45

In [5]:
# 문자
print("happy")
print('hello')

happy
hello

In [7]:
# 노트북에선 print 생략해도 출력 가능
456

456

#### 주석

- 한줄만 주석 처리(해제) : Ctrl + / (맥 Command + /)
- 여러 줄 주석 처리(해제) : 블록지정 후 Ctrl + / (맥 Command + /)

In [9]:
# print(1)

# print(2)
# print(3)

#### 산술연산자
- +, -, *, /
- //, %, **

In [12]:
# 더하기
print(2+3)
print(3.14 + 5)
print("hello" + "world")

# 몫
print(16//3)

# 나머지
print(16%3)

# 제곱
print(3**2)

5
8.14
helloworld
5
1
9

#### 자료형(타입)
- 정수형: int
- 실수형: float
- 문자열: str
- 참/거짓: bool
- type()으로 자료형 확인

In [18]:
# 정수
print(type(3))

# 실수
print(type(3.14))

# 문자열
print(type("hello"))

# bool
print(type(True))
print(type(False))


type(3)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'bool'>

int

#### 변수

In [20]:
box1 = 10
box1

10

In [21]:
box2 = 20
box2

20

In [23]:
box3 = box1 + box2
box3

30

#### 형변환
- str(문자) -> int(숫자): int(str변수)
- int(숫자) -> str(문자): str(int변수)

In [36]:
str1 = '10'
print(str1 + "20")
print(type(str1))

# str -> int 형변환
str2 = int(str1)
print(str2 + 20)
print(type(str2))

# int -> str 형변환
num1 = 10
print(num1 + 20)
print(type(num1))

num2 = str(num1)
print(num2 + "20")
print(type(num2))

1020
<class 'str'>
30
<class 'int'>
30
<class 'int'>
1020
<class 'str'>

#### 비교연산자

In [46]:
10 > 5

True

In [45]:
10 < 5

False

In [44]:
10 >= 5

True

In [40]:
10 <= 5

False

In [41]:
10 == 10

True

In [42]:
10 != 5

True

In [43]:
a = "hi"
b = "hello"
c = "hi"

print(a == b)
print(b == c)
print(c == a)

False
False
True

#### 조건문

In [47]:
if True:
    print("참")

참

In [49]:
if False:
    print("거짓")

In [50]:
a = 10

if a > 10:
    print("10보다 큼")
elif a == 10:
    print("10임")
else:
    print("10 미만")

10임