# 작업형1 모의문제2
- data : members.csv

## 문제4
- 주어진 데이터에서 자료형(type)이 object인 컬럼은 삭제하고, 결측치는 0으로 대체한다.
- 행 단위로 합한 다음 그 값이 3000보다 큰 값의 데이터 수를 구하시오
('age', 'f1', 'f2', 'f5', 'views'의 각 행별 합)

- 풀이 강의 수강 후

In [25]:
import pandas as pd
df = pd.read_csv('members.csv')

df = df.select_dtypes(exclude='O')
df = df.fillna(0)

print(len(df[df.sum(axis=1) > 3000]))

73

In [26]:
import pandas as pd
df = pd.read_csv('members.csv')

cols = df.select_dtypes(include='O').columns
# print(cols)

df = df.drop(cols, axis=1)
df = df.fillna(0)
print(len(df[df.sum(axis=1) > 3000]))

73

In [44]:
import pandas as pd
df = pd.read_csv('members.csv')

cols = df.select_dtypes(exclude='O').columns
df = df[cols]
df = df.fillna(0)

# 행, 열 바꾸기
df = df.T

print(sum(df.sum() > 3000))

73

- 1번째 풀이

In [ ]:
# your code
import pandas as pd

df =  pd.read_csv('members.csv')
# print(df.info())

# object 타입 컬럼 삭제
cols = ['age', 'f1', 'f2', 'f5', 'views']
df = df[cols]
# print(df.info())

# 결측치 0
# print(df.shape)
df = df.fillna(0)
# print(df.shape)

# 행 단위로 sum()
df['sum'] = df.sum(axis=1)

# len(x > 3000)
cond = df['sum'] > 3000
print(len(df[cond]))

73

- 2번째 풀이

In [ ]:
import pandas as pd
df = pd.read_csv("members.csv")

# select_dtypes(include, exclude)
df = df.select_dtypes(exclude='O').fillna(0)
row_sum = df.sum(axis=1)
print(sum(row_sum > 3000))

73

## 문제5
- 데이터에서 IQR을 활용해 views 컬럼의 이상치를 찾고, 이상치 데이터의 수를 구하시오

- 풀이 강의 수강 후

In [58]:
import pandas as pd
df = pd.read_csv('members.csv')

q1 = df['views'].quantile(.25)
q3 = df['views'].quantile(.75)

IQR = q3 - q1

min = q1 - 1.5 * IQR
max = q3 + 1.5 * IQR

print(sum(df['views'] < min) + sum(df['views'] > max))

4

- 1번째 풀이

In [ ]:
# your code
import pandas as pd

df = pd.read_csv('members.csv')

# IQR로 이상치 찾기
q1 = df['views'].quantile(.25)
q3 = df['views'].quantile(.75)

# print(q1, q3) # 3031.0 8144.5 사이 값만 정상

cond1 = df['views'] < q1
cond2 = df['views'] > q3

result = len(df[cond1|cond2])

print(result)

48

- 2번째 풀이

In [ ]:
import pandas as pd

df = pd.read_csv('members.csv')

q1 = df['views'].quantile(.25)
q3 = df['views'].quantile(.75)

IQR = q3 - q1

min = q1 - IQR * 1.5
max = q3 + IQR * 1.5

result = sum(df['views'] < min) + sum(df['views'] > max)
print(result)

4

## 문제6
- 'age' 컬럼의 이상치(소수점 나이와 음수나이, 0포함)를 제거하고
- 제거 전 후의 views 컬럼 표준편차를 더하시오 (최종 결과 값은 소수 둘째자리까지 출력, 셋째자리에서 반올림)

- 풀이 강의 수강 후

In [94]:
import pandas as pd
df = pd.read_csv('members.csv')

r1 = df['views'].std()

cond = df['age'] <= 0
# print(df.shape)
df = df[~cond]
# print(df.shape)

cond = df['age'] == round(df['age'], 0) # 반올림 했을 때 값이 같으면 정수형
df = df[cond]
# print(df.shape)

r2 = df['views'].std()

print(round(r1+r2, 2))

(100, 10)
(96, 10)
(90, 10)
8420.69

- 1번째 풀이

In [ ]:
# your code
import pandas as pd

df = pd.read_csv('members.csv')

before_std = df['views'].std()
# print(before_std)

df = df.astype({'age': 'int'})
# print(df.info())

# print(df.shape)
cond = df['age'] > 0
df = df[cond]

after_std = df['views'].std()
# print(after_std)

result = before_std + after_std
# print(result)
print(round(result, 2))

8407.33

- 2번째 풀이

In [ ]:
import pandas as pd

df = pd.read_csv('members.csv')

std1 = df['views'].std()


# 소수점 나이 제거
cond1 = (df['age'] - round(df['age'])) == 0
df = df[cond1]

# 0, 음수 나이 제거
cond2 = df['age'] > 0
df = df[cond2]

std2 = df['views'].std()

result = std1 + std2

print(round(result, 2))

8420.694001174805
8421
8420.69

- 3번째 풀이

In [85]:
import pandas as pd
df = pd.read_csv('members.csv')

std1 = df['views'].std()

# 소수점
df['new_age'] = df['age']- round(df['age'])

cond1 = df['new_age'] == 0
cond2 = df['age'] > 0

df = df[cond1 & cond2]

std2 = df['views'].std()

result = std1 + std2

print(round(result,2))

8420.69

# 풀이

## 문제4
- 주어진 데이터에서 자료형(type)이 object인 컬럼은 삭제하고, 결측치는 0으로 대체한다.
- 행 단위로 합한 다음 그 값이 3000보다 큰 값의 데이터 수를 구하시오
('age', 'f1', 'f2', 'f5', 'views'의 각 행별 합)

In [ ]:
# 풀이
import pandas as pd
df = pd.read_csv("members.csv")

# cols = df.select_dtypes(include='object').columns
# cols
# df = df.drop(cols, axis=1)
# df.head()

cols = df.select_dtypes(exclude='object').columns
cols
df = df[cols]
df.head()

df = df.fillna(0)
df = df.T

df.loc['new'] = df.sum()
sum(df.loc['new'] > 3000)
# df.head()
# print(sum(df.sum() > 3000))

73

## 문제5
- 데이터에서 IQR을 활용해 views 컬럼의 이상치를 찾고, 이상치 데이터의 수를 구하시오

In [ ]:
# 풀이
import pandas as pd
df = pd.read_csv("members.csv")

q3 = df['views'].quantile(.75)
q1 = df['views'].quantile(.25)

IQR = q3 - q1
# print(IQR)

line1 = q1 - 1.5 * IQR
line2 = q3 + 1.5 * IQR


print(sum(df['views'] < line1) + sum(df['views'] > line2))

4

## 문제6
- 'age' 컬럼의 이상치(소수점 나이와 음수나이, 0포함)를 제거하고
- 제거 전 후의 views 컬럼 표준편차를 더하시오 (최종 결과 값은 소수 둘째자리까지 출력, 셋째자리에서 반올림)

In [ ]:
# 풀이
import pandas as pd
df = pd.read_csv("members.csv")

r1 = df['views'].std()

cond = df['age'] <= 0
# print(df.shape)
df = df[~cond]
# print(df.shape)

# print(df.shape)
cond = df['age'] == round(df['age'],0)
df = df[cond]
# print(df.shape)

r2 = df['views'].std()

print(round(r1 + r2, 2))

8420.69